/* Carrosel sugestoes novo */
* {margin: 0;}

.carrosel-novo{
    display: flex;
    width: 100%;
    height: 450px;
}

.carrosel-novo img{
    aspect-ratio: 9/16;
    min-width: 0;
    flex: 1 1 10px;
    object-fit: cover;
    opacity: .5;
    transition: .5s;
}

.carrosel-novo img:hover{
    flex: 1 1 100px;
    opacity: 1;
}

/* Carrosel sugestoes */
/* .carrosel-1{
    margin: 0 auto;
    width: 100%;
    height: 350px;
    overflow: hidden;
}

.carrosel-1{
    padding: 10px;
}

.carrosel-1 span img{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 350px;
}

.carrosel-slide{
    width: 400%;
    height: 400px;
    display: flex;
}

.carrosel-slide input{
    display: none;
}

.slides{
    width: 25%;
    position: relative;
    transition: 2s;
}

.slides img{
    width: 1300px;
}

.manual-navegacao{
    position: absolute;
    width: 1300px;
    margin-top: -76px;
    margin-left: 20px;
    display: flex;
    justify-content: center;
}

.manual-btn{
    border: 2px solid #000;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.manual-btn:not(:last-child){
    margin-right: 10px;
}

.manual-btn:hover{
    background-color: #fff;
}

#radio-1:checked ~ .slides-1{
    margin-left: 7%;
}

#radio-2:checked ~ .slides-1{
    margin-left: -17%;
}

#radio-3:checked ~ .slides-1{
    margin-left: -42%;
}

#radio-4:checked ~ .slides-1{
    margin-left: -68%;
}

.navegacao-auto span{
    border: 2px solid #20a6ff;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.navegacao-auto{
    position: absolute;
    width: 800px;
    margin-top: 324px;
    margin-left: 270px;

    
    display: flex;
    justify-content: center;
}

.navegacao-auto span:not(:last-child){
    margin-right: 10px;
}

#radio-1:checked ~ .navegacao-auto .auto-btn1{
    background-color: #fff;
}

#radio-2:checked ~ .navegacao-auto .auto-btn2{
    background-color: #fff;
}

#radio-3:checked ~ .navegacao-auto .auto-btn3{
    background-color: #fff;
}

#radio-4:checked ~ .navegacao-auto .auto-btn4{
    background-color: #fff;
} */